/* contains global variables for colors */
:root {
  --header-clr: #b19cd9;
  --text-color: #b38add;
  --primary-bkg: #4c2a56;
  --cal-hover: #e0e0e0;
  --event-clr: #e0e0e0;
}

.App {
  text-align: center;
}
/* controls header size, color, etc */
.App-header {
  background-color: var(--header-clr);
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
